table,
th,
td {
  border: 1px solid;
  border-spacing: 0;
}

td {
  width: 120px;
  word-wrap: break-word;
}

thead {
  text-align: center;
}

table {
  background-color: bisque;
  color: black;
}

.slide-code {
  width: 600px;
  background-color: black;
  color: rgb(2, 213, 2);
}

.code-line {
  line-height: 2;
}

.code-comment {
  color: grey;
}

.code-result {
  color: white;
}
